@import url('https://fonts.googleapis.com/css?family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css?family=Krub&display=swap');

html
{
    width: 100%;
    height: 100%;
}

body
{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Skranji', cursive;
}

a
{
  text-decoration: none;
}

#accueil_html
{
    scroll-behavior: smooth;
}

#accueil_body
{
    overflow: hidden;
}

#accueil_body footer
{
  display: none;
}

/* HEADER */

header
{
    z-index: 2;
    width: 100%;
    height: 15%;
    background-color: rgb(209, 27, 27);
    display: flex;
    position: fixed;
    box-shadow: 0px 0px 30px 10px rgb(209, 208, 15);
}

header #title_content
{
    width: 40%;
    height: 100%;
    display: flex;
}

header #title_content #logo_image
{
    height: 85%;
    width: 15%;
    margin-left: 5%;
}

header #title_content #logo_image img
{
    margin-top: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    transition: 500ms;
    transition-property: box-shadow, transform;
}

header #title_content #logo_image img:hover
{
    box-shadow: 0px 0px 30px 10px white;
    transform: rotate(-90deg);
}

header #title_content #logo_texte
{
    height: 100%;
    width: 80%;
}

header #title_content #logo_text h1
{
    text-align: center;
    margin-top: 2%;
    margin-left: 5%;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 20px;   
    background: url(images/FEU.png) 50% 50%;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(224, 221, 28);
}

header #nav_content
{
    width: 50%;
    height: 100%;
}

header #nav_content a
{
    text-decoration: none;
    color: white;
}

header #nav_content ul{ display:inline-block; text-align:center; height:50px; overflow:hidden; margin-top: 4%;}
header #nav_content ul li{ float:left; height:100%; list-style:none; margin:0 30px; }
header #nav_content ul li *{ display:inline-block; font-size:1.3em; line-height:50px; }
header #nav_content ul li a{ margin-top:-50px; transition:0.3s cubic-bezier(0.1, 0.1, 0.5, 1.4); }
header #nav_content ul li a:hover{ margin-top:0; }
header #nav_content ul li a:before{ content:attr(data-text); display:block; color:#CDF745; }

/* Page accueil */
#accueil_main{width: 100%; height: 100%;}
#accueil_title
{
  transform: translateY(17%);
  width: 100%;
  height: 87%;
  background-color: rgb(252, 249, 172, .5);
  background-repeat: no-repeat;
  background-size: 100%;
}
#accueil_message
{
  width: 70%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translate(21%, 12%);
}
#accueil_message #message_title
{
  width: 100%;
  height: 30%;
}
#accueil_message #message_leaves
{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
}
#accueil_message #message_button
{
  width: 100%;
  height: 20%;
}

#accueil_message #message_title h1
{
    margin: 0;
    transform: translateY(10%);
    text-align: center;
    font-size: 80px;
    color:  rgb(209, 27, 27);
}

#accueil_message #message_leaves img
{
  width: 20%;
  height: 70%;
  transform: translateY(10%);
}

#accueil_message #message_button button
{
  font-size: 35px;
  width: 50%;
  margin-left: 25%;
  color: rgb(224, 221, 28);
  background-color: rgb(209, 27, 27);
  border: 2px solid white;
  outline: none;
  border-radius: 20px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  
}

#accueil_message #message_button button:hover
{
    cursor: pointer;
    background-color: rgb(224, 221, 28);
    color: rgb(209, 27, 27);
}

#accueil_presentation
{
  transform: translateY(15%);
  width: 100%;
  height: 87%;
  background-image: url('Images/Backgrounds/background2.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

#presentation_message
{
  width: 80%;
  height: 70%;
  background-color: rgba(224, 221, 28, 0.5);
  transform: translate(10%, 12%);
  padding: 2%;
  display: flex;
}

.content_presentation
{
  width: 100%;
  height: 95%;
  padding: 1%;
  
}

.content_presentation h1
{
  margin: 0;
  text-align: center;
  color: rgb(225, 221, 28);
  font-size: 35px;
  -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(209, 27, 27);
    font-weight: bold;
}

.content_presentation .article_p
{
  margin-left: 10%;
  width: 78%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.705);
  padding: 1%;
  border-radius: 10px;
 
}

.content_presentation .article_p p
{
  text-align: justify;
  color: rgb(209, 27, 27);
  font-size: 18px;
  line-height: 250%;
}

.content_presentation .article_p p span
{
  font-style: italic;
  color:  rgb(209, 27, 27);
}


body#register_body
{
    background-color: rgba(224, 221, 28, 0.5);
}
main#register_content
{
    height: 45%;
    width: 30%;
    background-color: #333;
    border: 2px solid rgb(209, 27, 27);
    border-radius: 10px;
    margin-left: 35%;
    margin-top: 10%;
}

main#register_content img
{
    position: absolute;
    border: 2px solid rgb(209, 27, 27);
    top: 13%;
    left: 46%;
    width: 8%;
    height: 15%;
    border-radius: 100%;
    animation: logo_rotate 5s forwards;
}
main#register_content form 
{
    margin-top: 13%;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    justify-content: space-around;
}
main#register_content form input
{
    width: 68%;
    background-color: rgb(225, 221, 28);
    border: 2px solid rgb(209, 27, 27);
    font-size: 20px;
    border-radius: 7px;
    padding: 1%;
    text-align: center;
    color: snow;
    outline: none;
    transition-property: border;
    transition-duration: 300ms;
}
main#register_content form input:focus
{
    border-color: rgb(225, 221, 28);
}
main#register_content form input::placeholder
{
    color: rgb(116, 98, 158);
}
main#register_content form input[type="submit"]
{
    width: 40%;
    margin-left: 15%;
    outline: none;
    cursor: pointer;
    transition-property: background;
    transition-duration: 500ms;
}
main#register_content form input[type="submit"]:hover
{
    background-color: rgb(22, 7, 56);
}
main#register_content form input[type="submit"]:focus
{
    background-color: black;  
}
main#register_content form p
{
    color: red;
    margin: 0;
    width: 68%;
    text-align: center;
}
main#register_content form a
{
    text-decoration: none;
    color: white;
}


nav #liens a
{
    margin: 0;
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition-property: color initial;
    transition-duration: 700ms;
}
nav #liens a:hover
{
    color: rgb(97, 58, 189);
}


#main_profil
{
    margin-left: 10%;
    height: 100%;
    width: 80%;
    background-image: url('ressources/images/backgrounds/background.jpg');
    background-size: 110%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#main_profil section
{
    height: 35%;
    width: 28%;
    margin-left: 33%;
    padding: 1%;
    border-radius: 10px;
    border: 2px solid rgb(22, 7, 56);
    background-color: #333;
}
#main_profil section form
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#main_profil section form h1
{
    text-align: center;
}
#main_profil section form input
{
    width: 68%;
    background-color: rgb(31, 31, 31);
    border: 2px solid rgb(97, 58, 189);
    font-size: 20px;
    border-radius: 7px;
    padding: 1%;
    text-align: center;
    color: snow;
    outline: none;
    transition-property: border;
    transition-duration: 300ms;
}
#main_profil section form input[type="submit"]
{
    width: 30%;
    outline: none;
    cursor: pointer;
}

a
{
  text-decoration: none;
}

#accueil_html
{
    scroll-behavior: smooth;
}

#accueil_body
{
    overflow: hidden;
}

#accueil_body footer
{
  display: none;
}

/* HEADER */

header
{
    z-index: 2;
    width: 100%;
    height: 15%;
    background-color: rgb(209, 27, 27);
    display: flex;
    position: fixed;
    box-shadow: 0px 0px 30px 10px rgb(209, 208, 15);
}

header #title_content
{
    width: 40%;
    height: 100%;
    display: flex;
}

header #title_content #logo_image
{
    height: 85%;
    width: 15%;
    margin-left: 5%;
}

header #title_content #logo_image img
{
    margin-top: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    transition: 500ms;
    transition-property: box-shadow, transform;
}

header #title_content #logo_image img:hover
{
    box-shadow: 0px 0px 30px 10px white;
    transform: rotate(-90deg);
}

header #title_content #logo_texte
{
    height: 100%;
    width: 80%;
}

header #title_content #logo_text h1
{
    text-align: center;
    margin-top: 2%;
    margin-left: 5%;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 20px;   
    background: url(images/FEU.png) 50% 50%;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(224, 221, 28);
}

header #nav_content
{
    width: 50%;
    height: 100%;
}

header #nav_content a
{
    text-decoration: none;
    color: white;
}

header #nav_content ul{ display:inline-block; text-align:center; height:50px; overflow:hidden; margin-top: 4%;}
header #nav_content ul li{ float:left; height:100%; list-style:none; margin:0 30px; }
header #nav_content ul li *{ display:inline-block; font-size:1.3em; line-height:50px; }
header #nav_content ul li a{ margin-top:-50px; transition:0.3s cubic-bezier(0.1, 0.1, 0.5, 1.4); }
header #nav_content ul li a:hover{ margin-top:0; }
header #nav_content ul li a:before{ content:attr(data-text); display:block; color:#CDF745; }

/* Page accueil */
#accueil_main{width: 100%; height: 100%;}
#accueil_title
{
  transform: translateY(17%);
  width: 100%;
  height: 87%;
  background-color: rgb(252, 249, 172, .5);
  background-repeat: no-repeat;
  background-size: 100%;
}
#accueil_message
{
  width: 70%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translate(21%, 12%);
}
#accueil_message #message_title
{
  width: 100%;
  height: 30%;
}
#accueil_message #message_leaves
{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
}
#accueil_message #message_button
{
  width: 100%;
  height: 20%;
}

#accueil_message #message_title h1
{
    margin: 0;
    transform: translateY(10%);
    text-align: center;
    font-size: 80px;
    color:  rgb(209, 27, 27);
}

#accueil_message #message_leaves img
{
  width: 20%;
  height: 70%;
  transform: translateY(10%);
}

#accueil_message #message_button button
{
  font-size: 35px;
  width: 50%;
  margin-left: 25%;
  color: rgb(224, 221, 28);
  background-color: rgb(209, 27, 27);
  border: 2px solid white;
  outline: none;
  border-radius: 20px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  
}

#accueil_message #message_button button:hover
{
    cursor: pointer;
    background-color: rgb(224, 221, 28);
    color: rgb(209, 27, 27);
}

#accueil_presentation
{
  transform: translateY(15%);
  width: 100%;
  height: 87%;
  background-image: url('Images/Backgrounds/background2.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

#presentation_message
{
  width: 80%;
  height: 70%;
  background-color: rgba(224, 221, 28, 0.5);
  transform: translate(10%, 12%);
  padding: 2%;
  display: flex;
}

.content_presentation
{
  width: 100%;
  height: 95%;
  padding: 1%;
  
}

.content_presentation h1
{
  margin: 0;
  text-align: center;
  color: rgb(225, 221, 28);
  font-size: 35px;
  -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(209, 27, 27);
    font-weight: bold;
}

.content_presentation .article_p
{
  margin-left: 10%;
  width: 78%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.705);
  padding: 1%;
  border-radius: 10px;
 
}

.content_presentation .article_p p
{
  text-align: justify;
  color: rgb(209, 27, 27);
  font-size: 18px;
  line-height: 250%;
}

.content_presentation .article_p p span
{
  font-style: italic;
  color:  rgb(209, 27, 27);
}


body#register_body
{
    background-color: rgba(224, 221, 28, 0.5);
}
main#register_content
{
    height: 45%;
    width: 30%;
    background-color: #333;
    border: 2px solid rgb(209, 27, 27);
    border-radius: 10px;
    margin-left: 35%;
    margin-top: 10%;
}

main#register_content img
{
    position: absolute;
    border: 2px solid rgb(209, 27, 27);
    top: 13%;
    left: 46%;
    width: 8%;
    height: 15%;
    border-radius: 100%;
    animation: logo_rotate 5s forwards;
}
main#register_content form 
{
    margin-top: 13%;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    justify-content: space-around;
}
main#register_content form input
{
    width: 68%;
    background-color: rgb(225, 221, 28);
    border: 2px solid rgb(209, 27, 27);
    font-size: 20px;
    border-radius: 7px;
    padding: 1%;
    text-align: center;
    color: snow;
    outline: none;
    transition-property: border;
    transition-duration: 300ms;
}
main#register_content form input:focus
{
    border-color: rgb(225, 221, 28);
}
main#register_content form input::placeholder
{
    color: rgb(116, 98, 158);
}
main#register_content form input[type="submit"]
{
    width: 40%;
    margin-left: 15%;
    outline: none;
    cursor: pointer;
    transition-property: background;
    transition-duration: 500ms;
}
main#register_content form input[type="submit"]:hover
{
    background-color: rgb(22, 7, 56);
}
main#register_content form input[type="submit"]:focus
{
    background-color: black;  
}
main#register_content form p
{
    color: red;
    margin: 0;
    width: 68%;
    text-align: center;
}
main#register_content form a
{
    text-decoration: none;
    color: white;
}

/*tableau*/

#ctableau {
	width: 100%;
	height: 8%;
}

.cheures {
	width: 10%;
	height: 8%;
	background-color: #262626;
	color: white;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
}

.cevent {
	width: 18%;
	height: 8%;
	background-color: #BF8F69;
	text-align: center;
}

.cevent:hover {
	width: 18%;
	height: 8%;
	background-color: rgb(187, 107, 219);
	text-align: center;
}

.cnoevent {
	width: 18%;
	height: 8%;
	background-color: #def369;
	text-align: center;
}

.cnoevent:hover {
	width: 18%;
	height: 8%;
	background-color: white;
	text-align: center;
}

main table,  main tbody,  main thead {
	width: 100%;
	height: 100vh;
}

.cjours {
	height: 8vh;
	background-color: #262626;
	color: white;
	text-align: center;
	font-family: sans-serif;
}

.divnoevent {
	content: "";
	height: 100%;
	width: 100%;
	font-family: sans-serif;
}

.divevent {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.aevent {
	color: #262626;
	font-family: sans-serif;
	text-decoration: none;
}

#ctitleevent {
	font-size: 34px;
	font-family: "Oswald-Medium";
	font-weight: bold;
	margin-bottom: -30px;
}

#cevent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
}

#cdescevent {
	width: 80%;
	padding-left: 2px;
	padding-right: 2px;
	overflow-wrap: break-word;
	text-align: center;
	font-size: 18px;
	font-family: sans-serif;
}

#cdatedebut {
	font-size: 18px;
	font-family: sans-serif;
}

#cdatefin {
	font-size: 18px;
	font-family: sans-serif;
}

#corganisateur {
	font-size: 18px;
	font-family: sans-serif;
	margin-bottom: 40px;
}